{% if section.settings.upsell_collection != blank %}
  <div class="cart-upsells absolute -left-40 top-0 hidden h-screen w-40 flex-col overflow-y-scroll bg-pale_grey px-5 py-6 lg:flex">
    <h4 class="pb-5 text-[14px]">Add these:</h4>

    {% assign upsell_collection = collections[section.settings.upsell_collection] %}
    {% for product in upsell_collection.products limit: 10 %}
      {% if product.available %}
        <div class="upsell-product mb-8">
          {% render 'image' with product.featured_image, lazyload: eager, alt: product.title, width: 600 %}

          <div class="py-3 text-[13px]">
            {{ product.title }}
          </div>

          <ajax-cart-product-form>
            {% form 'product', product, class: 'product-card__form', id: form_id %}
              <input type="hidden" name="id" value="{{ product.variants.first.id }}">
              <input class="hidden" min="1" type="number" id="quantity" name="quantity" value="1">

              <button
                type="submit"
                class="btn btn-icon !text-[13px] font-semibold hover:opacity-55"
                {% unless product.available %}
                  disabled="disabled"
                {% endunless %}
                aria-label="{% if current_variant.available %}{{ product.title }} - {{ 'products.product.add_to_cart' | t }}{% else %}{{ product.title }} is {{ 'products.product.sold_out' | t }}{% endif %}">
                {{ 'products.product.add_to_cart' | t }} - {{ product.price | money_without_trailing_zeros }}
              </button>
            {% endform %}
          </ajax-cart-product-form>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
