{%- assign colour_filter_names = 'colour,color' | split: ',' -%}
{%- assign stock_name = 'Out of stock' -%}

{% if section.settings.filter_display == 'filters-drawer' %}
  <div class="fader fader--filters" data-collection-filter-toggle></div>
{% endif %}

{% liquid
  assign has_quick_links = false

  if collection.metafields.plp.quick_links.value.count > 0
    assign has_quick_links = true
  endif
%}

<div
  class="collection-filter__drawer filters-drawer relative lg:pt-16"
  data-collection-filter-content>
 
  <div class="flex justify-end lg:hidden">
    <button class="btn button-icon" type="button" data-collection-filter-toggle>{% render 'icon', icon: 'cart-close' %}</button>
  </div>

  <div class="scroll-area">
    <div class="collection-filter__drawer-header mb-4">
      {%- assign activeFilters = false -%}
      {%- for filter in results.filters -%}
        {%- if filter.active_values.size > 0 -%}
          {%- assign activeFilters = true -%}
        {%- endif -%}
      {%- endfor -%}

      {%- liquid
        assign resultsParams = ''
        if results.terms != blank
          if resultsParams == ''
            assign resultsParams = '?q=' | append: results.terms
          else
            assign resultsParams = resultsParams | append: '&q=' | append: results.terms
          endif
        endif
        if results.sort_by != blank
          if resultsParams == ''
            assign resultsParams = '?sort_by=' | append: results.sort_by
          else
            assign resultsParams = resultsParams | append: '&sort_by=' | append: results.sort_by
          endif
        endif
      -%}

      {%- if activeFilters -%}
        <a class="font-semibold text-small uppercase" href="{{ results.url }}{{ resultsParams }}" data-collection-filter-clear-link>
          {{ 'collections.filtering.clear_all' | t }}
        </a>
      {%- endif -%}

      {% if activeFilters == true %}
        <div class="active-filters--wrapper flex flex-wrap gap-2 py-2">
      {% endif %}

      {%- for filter in results.filters -%}
        {%- if filter.type == "price_range" -%}
          {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
            <a href="{{ filter.url_to_remove }}" data-collection-filter-clear-link>
              {%- assign min_value = filter.min_value.value | default: 0 -%}
              {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
              {{ min_value | money }} - {{ max_value | money }}
              {% render 'icon', icon: 'cart-close' %}
            </a>
          {%- endif -%}
        {%- else -%}
          {%- for filter_value in filter.active_values -%}
            <a 
              href="{{ filter_value.url_to_remove }}" 
              data-collection-filter-clear-link
              class="flex items-center gap-2 bg-pale_ink px-2 py-1 text-[14px] font-semibold rounded-md"
            >
              {{ filter_value.label }}
              <span>
                {% render 'icon', icon: 'icon-cross' %}
              </span>
            </a>
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}

      {% if activeFilters == true %}
          </div>
      {% endif %}
    </div>

    <div class="collection-filter__footer">
      <div class="collection-filter__row">
        <div class="collection-filter__accordion">
          {% liquid
            assign accordion_index = 1
            assign list_index = 0
          %}

          {%- for filter in results.filters -%}
            {% assign trigger_id = 'filter-accordion-trigger-' | append: accordion_index | append: unique %}
            {% assign panel_id = 'filter-accordion-panel-' | append: accordion_index | append: unique %}

            <div class="collection-filter__group mt-3 flex  flex-col border-t border-pale_ink pt-3">
              <div class="{% unless show_out_of_stock %} py-3 {% endunless %}" role="heading" aria-level="4">
                <button
                  type="button"
                  class="filter-accordion__trigger flex w-full justify-between border-0 p-0 font-semibold"
                  id="{{ trigger_id }}"
                  aria-multi="1"
                  aria-controls="{{ panel_id }}"
                  aria-expanded="true">
                  <span class="s2-semi-bold">{{ filter.label }}</span>

                  <span class="filter-accordion__trigger-indicator">
                    <span class="icon-minus">{% render 'icon', icon: 'plp-minus' %}</span>
                    <span class="icon-plus">{% render 'icon', icon: 'plp-plus' %}</span>
                  </span>
                </button>
              </div>

              <div class="filter-accordion__panel show-panel filter-accordion__panel-{{ filter.type }}" id="{{ panel_id }}" role="region" aria-labelledby="{{ trigger_id }}">
                {%- case filter.type -%}
                  {%- when 'boolean', 'list' -%}
                    {%- liquid
                      assign filter_label_lowercase = filter.label | downcase
                      assign is_colour_filter = false
                      if colour_filter_names contains filter_label_lowercase
                        assign is_colour_filter = true
                      endif

                      assign out_of_stock_name = stock_name | downcase
                      if filter_label_lowercase contains out_of_stock_name
                        assign is_out_of_stock = true
                      endif
                    -%}

                    <ul class="collection-filter__filter-list {% if is_colour_filter %}colour-list{% endif %}">
                      {%- for filter_value in filter.values -%}
                        {% unless filter_value.label contains stock_name %}
                        <li class="collection-filter__filter-value flex items-center gap-2 py-2 text-[14px] text-dark_ink {% if is_colour_filter %} collection-filter__filter-value--colour{% endif %}" x-data="{ tooltip: false }" @mouseenter="tooltip = true" @mouseleave="tooltip = false">
                          <input
                            type="checkbox"
                            class="h-4 w-4 border border-dark_ink"
                            name="{{ filter_value.param_name }}"
                            value="{{ filter_value.value }}"
                            id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                            {% if filter_value.active -%}
                              checked
                            {%- endif %}
                            {% if filter_value.count == 0 and filter_value.active == false -%}
                              disabled
                            {%- endif %}>
                          <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}" class="relative">
                            {% if is_colour_filter %}
                              <span class="swatch swatch--{{ filter_value.label | handle }} flex h-6 w-6 xl:h-6 xl:w-6 cursor-pointer rounded-full"></span>
                            {% endif %}
                            {% if is_colour_filter %}
                              <span class="sr-only">{{ filter_value.label }}</span>
                            {% else %}
                              {{ filter_value.label | replace: 'Carryon', 'Carry-On' }}
                              <span>({{ filter_value.count }})</span>
                            {% endif %}
                            {% if is_colour_filter %}
                              <div x-show="tooltip" class="absolute bottom-full left-1/2 -translate-x-1/2 mb-2 w-max px-2 py-1 text-white text-xs bg-darkest font-semibold" style="display: none;">
                                {{ filter_value.label }}
                              </div>
                            {% endif %}
                          </label>
                        </li>
                        {% endunless %}
                      {%- endfor -%}
                    </ul>

                  {%- when 'price_range' -%}
                    {%- liquid
                      assign range_min = 0
                      assign range_max = filter.range_max | divided_by: 100.0 | ceil
                      assign min_value = range_min
                      if filter.min_value.value
                        assign min_value = filter.min_value.value | divided_by: 100.0 | floor
                      endif
                      assign max_value = range_max
                      if filter.max_value.value
                        assign max_value = filter.max_value.value | divided_by: 100.0 | ceil
                      endif
                    -%}

                    <range-slider
                      class="collection-filter__filter-range-slider"
                      min="{{ range_min }}"
                      max="{{ range_max }}"
                      step="1"
                      valueMin="{{ min_value }}"
                      valueMax="{{ max_value }}"
                      data-collection-filter-price-range-slider></range-slider>

                    <div class="collection-filter__filter-range">
                      <div class="collection-filter__filter-range-from">
                        <span>{{ cart.currency.symbol }}</span>

                        <input
                          name="{{ filter.min_value.param_name }}"
                          id="Filter-{{ filter.min_value.param_name }}"
                          type="number"
                          placeholder="{{ range_min }}"
                          min="{{ range_min }}"
                          max="{{ max_value }}"
                          {% if filter.min_value.value -%}
                            value="{{ min_value }}"
                          {%- endif %}
                          data-collection-filter-price-range-min>
                      </div>
                      <div class="collection-filter__filter-range-to">
                        <span>{{ cart.currency.symbol }}</span>
                        <input
                          name="{{ filter.max_value.param_name }}"
                          id="Filter-{{ filter.max_value.param_name }}"
                          type="number"
                          placeholder="{{ range_max }}"
                          min="{{ min_value }}"
                          max="{{ range_max }}"
                          {% if filter.max_value.value -%}
                            value="{{ max_value }}"
                          {%- endif %}
                          data-collection-filter-price-range-max>
                      </div>
                    </div>
                {%- endcase -%}
              </div>
            </div>

            {% assign accordion_index = accordion_index | plus: 1 %}
            {% assign list_index = list_index | plus: 1 %}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
