{%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
<div class="border-l border-light_ink lg:border lg:border-mid_ink px-7 py-3 text-small font-semibold text-mid_ink">
  <select id="sort-by" class="outline-none !bg-white text-center" name="sort_by" aria-label="{{ 'accessibility_labels.sort_product_collection_list' | t }}" data-collection-sort>
    <option
      value="manual"
      {% if sort_by == 'manual' %}
        selected
      {% endif %}>
      {{ 'collections.sorting.featured' | t }}
    </option>
    <option
      value="price-ascending"
      {% if sort_by == 'price-ascending' %}
        selected
      {% endif %}>
      {{ 'collections.sorting.price_ascending' | t }}
    </option>
    <option
      value="price-descending"
      {% if sort_by == 'price-descending' %}
        selected
      {% endif %}>
      {{ 'collections.sorting.price_descending' | t }}
    </option>
    <option
      value="title-ascending"
      {% if sort_by == 'title-ascending' %}
        selected
      {% endif %}>
      {{ 'collections.sorting.az' | t }}
    </option>
    <option
      value="title-descending"
      {% if sort_by == 'title-descending' %}
        selected
      {% endif %}>
      {{ 'collections.sorting.za' | t }}
    </option>
    <option
      value="created-ascending"
      {% if sort_by == 'created-ascending' %}
        selected
      {% endif %}>
      {{ 'collections.sorting.date_ascending' | t }}
    </option>
    <option
      value="created-descending"
      {% if sort_by == 'created-descending' %}
        selected
      {% endif %}>
      {{ 'collections.sorting.date_descending' | t }}
    </option>
    <option
      value="best-selling"
      {% if sort_by == 'best-selling' %}
        selected
      {% endif %}>
      {{ 'collections.sorting.best_selling' | t }}
    </option>
  </select>
</div>
