{%- comment -%}
  show_prev_next: true will display next/previous arrows
  {% render 'pagination', paginate: paginate, show_prev_next: true %}
{%- endcomment -%}

{%- if paginate.pages > 1 -%}
  <nav class="pagination-nav" aria-label="{{ 'accessibility_labels.pagination_label' | t }}">
    <ol class="pagination flex items-center gap-4">
      {% if show_prev_next %}
        {%- if paginate.previous -%}
          <li>
            <a class="arrow-nav" href="{{ paginate.previous.url }}" aria-label="{{ 'accessibility_labels.previous_page' | t }}">
              <span aria-hidden="true">{% render 'icon', icon: 'arrow-right' %}</span>
            </a>
          </li>
        {%- else -%}
          <li class="disabled" aria-label="{{ 'accessibility_labels.previous_page_disabled' | t }}">
            <span aria-hidden="true">{% render 'icon', icon: 'arrow-left' %}</span>
          </li>
        {%- endif -%}
      {% endif %}

      {%- for part in paginate.parts -%}
        {%- if part.is_link -%}
          <li>
            <a href="{{ part.url }}" aria-label="{{ 'accessibility_labels.page' | t }} {{ part.title }}">
              {{ part.title }}
            </a>
          </li>
        {%- else -%}
          {%- if part.title == paginate.current_page -%}
            <li class="active border border-darkest px-2" aria-current="page" aria-label="{{ 'accessibility_labels.current_page' | t }} {{ part.title }}">
              <span>{{ part.title }}</span>
            </li>
          {%- else -%}
            <li aria-label="{{ 'accessibility_labels.page' | t }} {{ part.title }}">
              <span>{{ part.title }}</span>
            </li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}

      {% if show_prev_next %}
        {%- if paginate.next -%}
          <li>
            <a class="arrow-nav" href="{{ paginate.next.url }}" aria-label="{{ 'accessibility_labels.next_page' | t }}">
              <span aria-hidden="true">{% render 'icon', icon: 'arrow-right' %}</span>
            </a>
          </li>
        {%- else -%}
          <li class="disabled" aria-label="{{ 'accessibility_labels.next_page_disabled' | t }}">
            <span aria-hidden="true">{% render 'icon', icon: 'arrow-right' %}</span>
          </li>
        {%- endif -%}
      {% endif %}
    </ol>
  </nav>
{%- endif -%}
